*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    text-decoration: none;
    text-transform: capitalize;
}

p{
  font-family: 'Russo One', sans-serif;
  color: rgb(9, 9, 9);
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
}

.toptron{
    position: flex;
    margin-top: 2vh;
    max-height: 90vh;
    align-items: center;
    justify-content: space-around;
}
.jumbotron {
  background-image: url("./images/image5.png");
  background-size: cover;
}

.carousel-item{
  height: 500px;
}

.d-block {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 500px;
  align-items: center;
  justify-content: center;
}

.btn{
  position: relative;
}

h1{
    font-family: 'Russo One', sans-serif;
    color: rgba(43, 16, 248, 0.7);
    position:flex;
    top:calc(50% - 80px);
    left:calc(50% - 130px);
  }
  
.full-body{
    background: rgb(89, 27, 175);
}

.loader {
max-height: 100%;
filter:hue-rotate(0deg);
color:linear-gradient(45deg,#0f8,#08f);
animation:hue 10000ms infinite linear;  
};
 
@keyframes spinify {
0% {
    transform: translate(0px,0px);
    
}
33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

}
    66% {
    transform:translate(0px,-16px);
}

    88% {
    transform:translate(0px,4px);
    
}
100% {
    transform:translate(0px,0px);
}
}
@keyframes hue{
0%{filter: hue-rotate(0deg);}
100%{filter:hue-rotate(360deg);}

}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
  
  section {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  

  body {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
  
  section {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  

  #particles {
    background: #000000;
  }
  

  #hexagonGrid {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    
    .row {
      display: inline-flex;
      margin-top: -32px;
      margin-left: -50px;
      
      &:nth-child(even) {
        margin-left: 2px;
      }
      
      .hexagon {
        position: relative;
        width: 100px; height: 110px;
        margin: 4px 2px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
        
        &::before {
          content: '';
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;
          background: #000000;
          opacity: 0.95;
          transition: 1s;
        }
        
        &::after {
          content: '';
          position: absolute;
          top: 4px; right: 4px; bottom: 4px; left: 4px;
          background: #141414;
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }
        
        &:hover {
          &::before {
            background: #8CFD0B;
            opacity: 1;
            transition: 0s;
          }
          
          &::after {
            background: #000000;
          }
        }
      }
    }
  }